.page-home {
    position: relative;

    &__modal {
        border: 1px solid $color-black;
        border-radius: 20px;
        max-width: 500px;
        width: 100%;
        padding: 30px;
        position: fixed;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        background: $base-white;
    }

    &__modal-close {
        position: absolute;
        top: 30px;
        right: 30px;
        padding: 0;
        margin: 0;
        line-height: 1px;

        &:hover {
            color: $color-gray-500;
            line-height: 1px;
            cursor: pointer;
        }
    }

    &__modal-text {
        padding: 10px 0;
    }
}