body {
  font-family: $sub-fonts;
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.conteiner {
  max-width: 1179px;
  margin: 0 auto;
}

.logo {
  max-width: 134px;
  height: 11px;
}

li {
  list-style: none;
}

.hover-link-animation {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.button {
  width: 160px;
  height: 45px;
  background: $full-gray;
  color: #ffffff;
  border: none;
}

.arrow {
  display: inline-block;
  height: 8px;
  width: 19px;
}