.header {
  &__conteiner {
    display: flex;
    justify-content: space-between;
    padding: 96px 0 128px;
  }

  &__nav-icon {
    display: none;
  }

  &__nav-input {
    display: none;
  }

  &__nav-row {
    display: flex;
    justify-content: center;
    gap: 42px;

    @media(max-width: $tablet) {
      &__nav-icon {
        display: block;
        max-width: 24px;
        height: 14px;
      }

      &__nav-input {
        display: block;
      }
    }
  }

  &__nav-link {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: $color-black;
  }
}