.header {
  &__conteiner {    
    display: flex;
    justify-content: space-between;
    padding: 42px 0;
  }

  &__nav-icon {
    display: none;
  }

  &__nav-input {
    display: none;
  }

  &__nav-row {
    display: flex;
    justify-content: center;
    gap: 42px;
    list-style: none;
  }

  &__nav-link {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #000000;
  }
}

