.header {
  &__conteiner {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;

    @media (max-width: $tablet) {
      padding: 16px 16px 0;
    }
  }


  &__logo {
    margin-top: 2px;
  }

  &__nav-label {
    display: none;

    @media (max-width: $tablet) {
      display: block;
      width: 32px;
      height: 32px;
      background: #000;
    }
  }

  &__nav-input {
    display: none;
  }

  &__nav-row {
    display: flex;
    justify-content: center;
    gap: 42px;

    @media(max-width: $tablet) {
      display: none;
    }
  }

  &__nav-link {    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: $color-black;
  }

  &__nav-item:hover {
    border-bottom: 1px solid #000;
  }

  &__nav-item--active {
    border-bottom: 1px solid #000;
  }

}